/* Page */
body {
    background-color: #000000;
    margin: 0 auto;
}

/* HTML, document, and centered container */
html, body, .container {
    height: 100%;
}

/* Centered container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Canvas styles */
canvas {
    border-radius: 12px;
}