<!DOCTYPE html>
<html>
    <head>
        <!-- Title and logo -->
        <title>Title</title>
        <link rel="icon" href="assets/icon.ico">

        <!-- Settings -->
        <meta charset="UTF-8" />

        <!-- Styles -->
        <link rel="stylesheet" href="css/styles.css">

        <!-- Framework -->
        <script src="../../Flanger.js"></script>
        <script src="js/FJStheme.js"></script>

        <!-- Scripts -->
        <script src="js/Settings.js"></script>
        <script src="js/Classes.js"></script>
        <script src="js/Utils.js"></script>
        <script src="js/Objects.js"></script>
        <script src="js/Scenes.js"></script>
    </head>
    <body>
        <div class="container">
            <canvas id="canvasGame"></canvas>
        </div>
        <script>

            //Launch screen and drivers
            FJSscreen.init({id:"canvasGame", width:338, height:600});
            
        </script>
    </body>
</html>